.heading{
    color: rgb(233 156 67);
    height: 20px;
    font-size: 22px;
    // font-family: "bold";
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.content{
    color: black;
    font-size: 36px;
    font-weight: 700;

}